.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: max-content;
    height: max-content;

    position: relative;
}

.sidebarIconStyle {
    width: 75px;
    height: 75px;

    border-radius: var(--borderRadius3);
}

.sidebarIconStyle:hover {
    background: var(--colorGray3);
}

.chatInputBoxIconStyle {
    background: var(--colorGray8);

    width: 50px;
    height: 50px;

    border-radius: var(--borderRadius6);
}

.chatInputBoxIconStyle:hover {
    background: var(--colorGray7);
}
