.inputField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: max-content;

    position: relative;
}

.searchBoxInputContainer {
    width: calc(100% - 40px);
}

.inputField > input[type="text"] {
    padding: 5px;
    margin: 0;

    outline: none;
}

.inputField > input::placeholder {
    color: var(--colorGray6);
}

.inputField > label {
    flex: 1;

    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 300;
}

.sectionInput {
    flex: 2;

    width: auto;
    height: calc(22px - 10px);

    border: none;
    border-bottom: 2px solid var(--colorGray6);

    font-size: 16px;
    font-weight: 500;
}

.searchInput {
    background: transparent;

    width: 100%;
    height: max-content;

    border: none;

    font-size: 16px;
    font-weight: 500;
}

.searchBoxInputContainer > input::placeholder {
    color: var(--colorGray4);
    font-weight: 500;
}